<style>
  .dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Adds a 10px gap between buttons */
  padding: 20px;
}

button {
  min-width: 50px;
}




</style>

<h2 mat-dialog-title>{{ data.name }}</h2>
<div mat-dialog-content>
  <p><strong>Type:</strong> {{ data.type }}</p>
  <p><strong>Start Date:</strong> {{ data.startDate | date:'dd/MM/yyyy HH:mm' }}</p>
  <p><strong>End Date:</strong> {{ data.endDate | date:'dd/MM/yyyy HH:mm' }}</p>
  <p><strong>Groups:</strong> {{ data.groups?.join(', ') || 'No Groups Assigned' }}</p>
  <p><strong>Current Participants:</strong> {{ data.currentParticipants }}</p>
  <p><strong>Max Participants:</strong> {{ data.maxParticipants }}</p>
</div>
<div mat-dialog-actions>
  <button class="btn btn-primary m-1" (click)="cloneSubevent()"><mat-icon>file_copy</mat-icon></button>
  <button class="btn btn-secondary m-1"  (click)="editSubevent()"><mat-icon>edit</mat-icon></button>
  <button class="btn btn-danger m-1" (click)="deleteSubevent()"><mat-icon>delete_forever</mat-icon></button>
  <button class="btn btn-info m1" (click)="close()"><mat-icon>close</mat-icon></button>
</div>