<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Event Manager</h1>
        <p>Here you can manage your events</p>
        <h2>Options:</h2>
        <ul>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/users">Users</a></li>
        </ul>
        <router-outlet></router-outlet>
    </div>
    
</body>
</html>