<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Create Event</h2>
            <form #createEventForm="ngForm" (ngSubmit)="onSubmit(createEventForm)">
                <!-- First Name Field -->
                <div class="form-group mb-3">
                    <label for="name" class="form-label">Event Name</label>
                    <input
                        type="text"
                        id="name"
                        name="name"
                        class="form-control"
                        ngModel
                        required
                        #name="ngModel"
                    />
                    <div *ngIf="name.invalid && name.touched" class="text-danger">
                        Event Name is required.
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="type" class="form-label">Event Type</label>
                    <select
                        id="type"
                        name="type"
                        class="form-control"
                        ngModel
                        required
                        #type="ngModel"
                    >
                        <option *ngFor="let type of eventTypes" [value]="eventTypes">
                            {{ type }}
                        </option>
                    </select>
                    <div *ngIf="type.invalid && type.touched" class="text-danger">
                        Please select an Event Type.
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="startDate" class="form-label">Start Date</label>
                    <mat-form-field appearance="fill" class="w-100">
                        <input
                            matInput
                            [matDatepicker]="startDatePicker"
                            placeholder="Select start date"
                            id="startDate"
                            name="startDate"
                            ngModel
                            required
                            #startDate="ngModel"
                        />
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="startDate.invalid && startDate.touched" class="text-danger">
                        Start Date is required.
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="endDate" class="form-label">End Date</label>
                    <mat-form-field appearance="fill" class="w-100">
                        <input
                            matInput
                            [matDatepicker]="endDatePicker"
                            placeholder="Select end date"
                            id="endDate"
                            name="endDate"
                            ngModel
                            required
                            #endDate="ngModel"
                        />
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="endDate.invalid && endDate.touched" class="text-danger">
                        End Date is required.
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="maxParticipants" class="form-label">Maximum Number of Participants</label>
                    <mat-slider discrete [displayWith]="formatLabel" min="1" max="100" step="1">
                        <input matSliderThumb
                                placeholder="Number of Participants"
                                id="maxParticipants"
                                name="maxParticipants"
                                ngModel
                                required
                                #maxParticipants="ngModel"
                                value="10">
                    </mat-slider>
                </div>
                <button type="submit" class="btn btn-primary w-100">
                    Create
                </button>
            </form>
        </div>
    </div>
</div>