

<nav class="navbar navbar-expand-lg bg-primary mb-4" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Event Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      aria-controls="navbarColor01"
      [attr.aria-expanded]="!isNavbarCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [class.show]="!isNavbarCollapsed"
      id="navbarColor01"
    >
      <ul class="navbar-nav me-auto">
        <!-- Nav items -->
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/people">People</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/events">Events</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item"  *ngIf="isLoggedIn">
            <a class="nav-link" disabled> Welcome, {{ (currentPerson$ | async)?.firstName }}! </a>  
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <span>
            <a class="nav-link" (click)="logout()">Logout</a>
          </span>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>