<div class="container">
    <h2>Statistics</h2>
  
    <!-- Event Types Pie Chart -->
    <h3>Total Events: {{ totalEvents }}</h3>
    <div class="row">
      <div class="col-md-12" style="height: 400px;">
        <!-- Show loader or placeholder while data is loading -->
        <div *ngIf="eventTypeData.length === 0; else eventChart">
          Loading Event Types...
        </div>
        <!-- Event Types Pie Chart -->
        <ng-template #eventChart>
          <ngx-charts-pie-chart
            [results]="eventTypeData"
            [legend]="true"
            [labels]="true"
            [explodeSlices]="false"
            [doughnut]="false"
            [gradient]="false"
            >
          </ngx-charts-pie-chart>
        </ng-template>
      </div>
      <!-- Roles Bar Chart -->
    <h3>Total People: {{ totalPersons }}</h3>
      <div class="row">
        <div class="col-md-6" style="height: 400px;">
          <div *ngIf="roleData.length === 0; else rolesChart">
            Loading Roles...
          </div>
          <ng-template #rolesChart>
            <ngx-charts-bar-vertical
              [results]="roleData"
              [legend]="true"
              [xAxis]="true"
              [yAxis]="true"
              [showDataLabel]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Roles'"
              [yAxisLabel]="'Number of Persons'"
              >
            </ngx-charts-bar-vertical>
          </ng-template>
        </div>

        <div class="col-md-6" style="height: 400px;">
            <div *ngIf="groupData.length === 0; else groupsChart">
              Loading Groups...
            </div>
            <ng-template #groupsChart>
              <ngx-charts-bar-vertical
                [results]="groupData"
                [scheme]="groupsColorScheme"
                [legend]="true"
                [xAxis]="true"
                [yAxis]="true"
                [showDataLabel]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="'Groups'"
                [yAxisLabel]="'Number of Persons'"
                >
              </ngx-charts-bar-vertical>
            </ng-template>
          </div>
        </div>
    </div>
  
    
  </div>

  